/* index.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    padding-top: 0%;
    padding-bottom: 20%;
    border-radius: 5%;
    clear: both;
    justify-content: center;
}
#h{
    background-color:#ffffff   ;
    width: 100%;
    position: fixed;
    height: 320px;
    display:flex;
    align-items: center;
    margin: 0%; 
}

#j{
  justify-content: center;
    width: 100%;
    position: fixed;
    height: 320px;
    align-items: center;
    margin-top: 320px; 
    display:grid;
     background-color: #6376cb;
}    
h2 {
    color: #337ab7;
    margin-left: 20%;
}

p {
    font-size: 18px;
}

button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
  
    background-color: #FFFA12;
    border-radius: 3px;
    border: 3px solid rgb(193, 124, 60);
    
}
/* Estilo para el botón de Usuarios */
button:nth-of-type(1) {
    background-color: #d9534f;
}

/* Estilo para el botón de Crear Usuario */
button:nth-of-type(2) {
    background-color: #5cb85c;
}

/* Estilo para el botón de Empresas */
button:nth-of-type(3) {
    background-color: #f0ad4e;
}

/* Estilo para el botón de Crear Empresa */
button:nth-of-type(4) {
    background-color: #5bc0de;
}
