<!DOCTYPE html>
<html>
<head>
    <title>Evaluar empresa</title>
</head>
<body>
    <h1>Aqui será evaluada la Empresa:</h1>
    <h2>Nombre de la empresa: {{$empresa->nombre}}</h2>
    <h2>Direccion de la empresa: {{$empresa->direccion}}</h2>
    <h2>Teléfono de la empresa: {{$empresa->telefono}}</h2>
    <h2>Correo de la empresa: {{$empresa->email}}</h2>
    <h2>ID CENS: {{$empresa->id_cens}} Promedio CENS: {{$empresa->promedio_cens}}</h2> 
    <h2>ID Anexo Técnico: {{$empresa->id_cens}} Promedio AT: {{$empresa->promedio_at}}</h2>

    <h2> Preguntas: </h2>
    <h3> Pregunta 1: </h3>
    <h3> Pregunta 2: </h3>
    <h3> Pregunta 3: </h3>
</body>
</html>
